# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno (¡CLAVES SECRETAS!)
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Directorio de archivos generados localmente
storage/

# Base de datos local (si se usa SQLite en el futuro)
*.db
*.sqlite3

# IDEs
.idea/
.vscode/
*.swp
*.swo
